In [1]:
import spacy
from spacy.tokens import DocBin
import pandas as pd
import re
pd.set_option('display.max_colwidth', 200)

# funcs

In [3]:
def massage_data(address):
    '''Pre process address string to remove new line characters, add comma punctuations etc.'''
    cleansed_address1=re.sub(r'(,)(?!\s)',', ',address)
    cleansed_address2=re.sub(r'(\\n)',', ',cleansed_address1)
    cleansed_address3=re.sub(r'(?!\s)(-)(?!\s)',' - ',cleansed_address2)
    cleansed_address=re.sub(r'\.','',cleansed_address3)
    return cleansed_address

def get_address_span(address=None,address_component=None,label=None):
    '''Search for specified address component and get the span.
    Eg: get_address_span(address="221 B, Baker Street, London",address_component="221",label="BUILDING_NO") would return (0,2,"BUILDING_NO")'''

    if pd.isna(address_component) or str(address_component)=='nan':
        pass
    else:
        address_component1=re.sub('\.','',address_component)
        address_component2=re.sub(r'(?!\s)(-)(?!\s)',' - ',address_component1)
        span=re.search('\\b(?:'+address_component2+')\\b',address)
        #print(span)
        return (span.start(),span.end(),label)

def extend_list(entity_list,entity):
    if pd.isna(entity):
        return entity_list
    else:
        entity_list.append(entity)
        return entity_list

def create_entity_spans(df,tag_list):
    '''Create entity spans for training/test datasets'''
    df['Address']=df['Address'].apply(lambda x: massage_data(x))
    df["BuildingTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Building_Name'],label='BUILDING_NAME'),axis=1)
    df["BuildingNoTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Building_Number'],label='BUILDING_NO'),axis=1)
    df["RecipientTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Recipient'],label='RECIPIENT'),axis=1)
    df["StreetNameTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Street_Name'],label='STREET_NAME'),axis=1)
    df["ZipCodeTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Zip_Code'],label='ZIP_CODE'),axis=1)
    df["CityTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['City'],label='CITY'),axis=1)
    df["CountryTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['Country'],label='COUNTRY'),axis=1)
    df["StateTag"]=df.apply(lambda row:get_address_span(address=row['Address'],address_component=row['State'],label='STATE'),axis=1)
    df['EmptySpan']=df.apply(lambda x: [], axis=1)

    for i in tag_list:
        df['EntitySpans']=df.apply(lambda row: extend_list(row['EmptySpan'],row[i]),axis=1)
        df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
    return df['EntitySpans']

def get_doc_bin(training_data,nlp):
    '''Create DocBin object for building training/test corpus'''
    # the DocBin will store the example documents
    db = DocBin()
    for text, annotations in training_data:
        doc = nlp(text) #Construct a Doc object
        ents = []
        for start, end, label in annotations:
            span = doc.char_span(start, end, label=label)
            ents.append(span)
        doc.ents = ents
        db.add(doc)
    return db

# bod

In [6]:
import pandas as pd

df_train=pd.read_csv(filepath_or_buffer="/content/us-train-dataset.csv",sep=",",dtype=str)

In [7]:
df_train.head()

,Address,Building_Name,Building_Number,City,Recipient,Street_Name,Zip_Code,State,Country
0,"19 ST ANDREW ST, BULRINGTON, VT, 05401,, United States",NaN,19,BULRINGTON,NaN,ST ANDREW ST,05401,VT,United States
1,"2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, United States",NaN,2574,CHATTANOOGA,NaN,EAST 23RD STREE,37404,TN,United States
2,"5931 W ANGELA RD, MEMPHIS, TN 38120, United States",NaN,5931,MEMPHIS,NaN,W ANGELA RD,38120,TN,United States
3,"3812 MYERS STREET, GREENEVILLE, TN 37743, United States",NaN,3812,GREENEVILLE,NaN,MYERS STREET,37743,TN,United States
4,"HWY 33 BY-PASS BOX, DYERSBURG, TN 38024, United States",NaN,NaN,DYERSBURG,NaN,HWY 33 BY-PASS,38024,TN,United States

In [8]:
len(df_train)

120

In [9]:
tag_list=["BuildingTag","BuildingNoTag","RecipientTag","StreetNameTag","ZipCodeTag","CityTag","StateTag","CountryTag"]

In [34]:
nlp = spacy.blank("ru")

In [1]:
import spacy
from spacy.cli import download

download("en_core_web_lg")
nlp = spacy.load("en_core_web_lg")

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

In [12]:
print(type(nlp('qeqwqw')))
print(nlp('qeqwqw'))

<class 'spacy.tokens.doc.Doc'>
qeqwqw

In [13]:
df_entity_spans= create_entity_spans(df_train.astype(str),tag_list)

<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)

In [14]:
df_entity_spans.head()

0       (19 ST ANDREW ST, BULRINGTON, VT, 05401, , United States, [(0, 2, BUILDING_NO), (3, 15, STREET_NAME), (33, 38, ZIP_CODE), (17, 27, CITY), (29, 31, STATE), (42, 55, COUNTRY)])
1    (2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, United States, [(0, 4, BUILDING_NO), (5, 20, STREET_NAME), (38, 43, ZIP_CODE), (22, 33, CITY), (35, 37, STATE), (45, 58, COUNTRY)])
2            (5931 W ANGELA RD, MEMPHIS, TN 38120, United States, [(0, 4, BUILDING_NO), (5, 16, STREET_NAME), (30, 35, ZIP_CODE), (18, 25, CITY), (27, 29, STATE), (37, 50, COUNTRY)])
3       (3812 MYERS STREET, GREENEVILLE, TN 37743, United States, [(0, 4, BUILDING_NO), (5, 17, STREET_NAME), (35, 40, ZIP_CODE), (19, 30, CITY), (32, 34, STATE), (42, 55, COUNTRY)])
4                           (HWY 33 BY - PASS BOX, DYERSBURG, TN 38024, United States, [(0, 16, STREET_NAME), (36, 41, ZIP_CODE), (22, 31, CITY), (33, 35, STATE), (43, 56, COUNTRY)])
Name: EntitySpans, dtype: object

In [15]:
training_data= df_entity_spans.values.tolist()

In [16]:
training_data

[('19 ST ANDREW ST, BULRINGTON, VT, 05401, , United States',
  [(0, 2, 'BUILDING_NO'),
   (3, 15, 'STREET_NAME'),
   (33, 38, 'ZIP_CODE'),
   (17, 27, 'CITY'),
   (29, 31, 'STATE'),
   (42, 55, 'COUNTRY')]),
 ('2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 20, 'STREET_NAME'),
   (38, 43, 'ZIP_CODE'),
   (22, 33, 'CITY'),
   (35, 37, 'STATE'),
   (45, 58, 'COUNTRY')]),
 ('5931 W ANGELA RD, MEMPHIS, TN 38120, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 16, 'STREET_NAME'),
   (30, 35, 'ZIP_CODE'),
   (18, 25, 'CITY'),
   (27, 29, 'STATE'),
   (37, 50, 'COUNTRY')]),
 ('3812 MYERS STREET, GREENEVILLE, TN 37743, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 17, 'STREET_NAME'),
   (35, 40, 'ZIP_CODE'),
   (19, 30, 'CITY'),
   (32, 34, 'STATE'),
   (42, 55, 'COUNTRY')]),
 ('HWY 33 BY - PASS BOX, DYERSBURG, TN 38024, United States',
  [(0, 16, 'STREET_NAME'),
   (36, 41, 'ZIP_CODE'),
   (22, 31, 'CITY'),
   (33, 35, 'STATE'),
   (43, 56, 'COUNTRY')]),
 ('423 TRENT STATE STRE, DOVER, DE 19001, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (32, 37, 'ZIP_CODE'),
   (22, 27, 'CITY'),
   (29, 31, 'STATE'),
   (39, 52, 'COUNTRY')]),
 ('269 ABBOTT MT ROAD, CHATTANOOGA, TN 37405, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 18, 'STREET_NAME'),
   (36, 41, 'ZIP_CODE'),
   (20, 31, 'CITY'),
   (33, 35, 'STATE'),
   (43, 56, 'COUNTRY')]),
 ('HIGHWAY 11 - E, RUSSELLVILLE, TN 00000, United States',
  [(0, 14, 'STREET_NAME'),
   (33, 38, 'ZIP_CODE'),
   (16, 28, 'CITY'),
   (30, 32, 'STATE'),
   (40, 53, 'COUNTRY')]),
 ('8725 HWY 62 N, MILLINGTON, TN 38053, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 13, 'STREET_NAME'),
   (30, 35, 'ZIP_CODE'),
   (15, 25, 'CITY'),
   (27, 29, 'STATE'),
   (37, 50, 'COUNTRY')]),
 ('6081 SUMMER AVENUE, MEMPHIS, TN 38134, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (32, 37, 'ZIP_CODE'),
   (20, 27, 'CITY'),
   (29, 31, 'STATE'),
   (39, 52, 'COUNTRY')]),
 ('STE 363 8 REGENCY SQ, KNOXVILLE, TN 37915, United States',
  [(8, 9, 'BUILDING_NO'),
   (10, 20, 'STREET_NAME'),
   (36, 41, 'ZIP_CODE'),
   (22, 31, 'CITY'),
   (33, 35, 'STATE'),
   (43, 56, 'COUNTRY')]),
 ('NAT TRUST CENTER 1612 REDWOOD STREET, WILMINGTON, DE 19801, United States',
  [(0, 16, 'BUILDING_NAME'),
   (17, 21, 'BUILDING_NO'),
   (22, 36, 'STREET_NAME'),
   (53, 58, 'ZIP_CODE'),
   (38, 48, 'CITY'),
   (50, 52, 'STATE'),
   (60, 73, 'COUNTRY')]),
 ('PO BOX 631, GIDDINGS, TX 78942, United States',
  [(25, 30, 'ZIP_CODE'),
   (12, 20, 'CITY'),
   (22, 24, 'STATE'),
   (32, 45, 'COUNTRY')]),
 ('9281 S MAIN ST PO BOX 284, SPRINGFIELD, TN 37172, United States',
  [(0, 4, 'BUILDING_NO'), (5, 14, 'STREET_NAME'), (50, 63, 'COUNTRY')]),
 ('PO BOX 3028 OMOHUN, NASHVILLE, TN 37210, United States',
  [(34, 39, 'ZIP_CODE'),
   (20, 29, 'CITY'),
   (31, 33, 'STATE'),
   (41, 54, 'COUNTRY')]),
 ('375 MCDONNELL BLVD - PO BOX 5840, ST LOUIS, MO 63134, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 18, 'STREET_NAME'),
   (47, 52, 'ZIP_CODE'),
   (34, 42, 'CITY'),
   (44, 46, 'STATE'),
   (54, 67, 'COUNTRY')]),
 ('PO BOX 724, TRUSSVILLE, AL 35173, United States',
  [(27, 32, 'ZIP_CODE'),
   (12, 22, 'CITY'),
   (24, 26, 'STATE'),
   (34, 47, 'COUNTRY')]),
 ('PO BOX 903, BALDWIN, GA, 30511 - 0484, , United States',
  [(25, 37, 'ZIP_CODE'),
   (12, 19, 'CITY'),
   (21, 23, 'STATE'),
   (41, 54, 'COUNTRY')]),
 ('PO BOX 337, NORTONVILLE, KS 660600452, United States',
  [(28, 37, 'ZIP_CODE'),
   (12, 23, 'CITY'),
   (25, 27, 'STATE'),
   (39, 52, 'COUNTRY')]),
 ('FRANK RD PO BOX 24, SO POMFRET, VT, 05067, , United States',
  [(0, 8, 'STREET_NAME'),
   (36, 41, 'ZIP_CODE'),
   (32, 34, 'STATE'),
   (45, 58, 'COUNTRY')]),
 ('221 JIM SULLIVAN BLVD PO BOX 1482, SALISBURY, NC 28145 - 1127, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 21, 'STREET_NAME'),
   (49, 61, 'ZIP_CODE'),
   (35, 44, 'CITY'),
   (46, 48, 'STATE'),
   (63, 76, 'COUNTRY')]),
 ('PO BOX 363, HEBRONVILLE, TX 78361, United States',
  [(28, 33, 'ZIP_CODE'),
   (12, 23, 'CITY'),
   (25, 27, 'STATE'),
   (35, 48, 'COUNTRY')]),
 ('178 W RIDGE AVE PO BOX 344, CELINA, TN 38551, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 15, 'STREET_NAME'),
   (39, 44, 'ZIP_CODE'),
   (28, 34, 'CITY'),
   (36, 38, 'STATE'),
   (46, 59, 'COUNTRY')]),
 ('PO BOX 8231, MOULTRIE, GA, 31776 - 1601, , United States',
  [(27, 39, 'ZIP_CODE'),
   (13, 21, 'CITY'),
   (23, 25, 'STATE'),
   (43, 56, 'COUNTRY')]),
 ('C/O MELISSA CARDIFF 730 WINSTON ST, CHESTNUT HILL, , MA, USA',
  [(20, 23, 'BUILDING_NO'),
   (0, 19, 'RECIPIENT'),
   (24, 34, 'STREET_NAME'),
   (36, 49, 'CITY'),
   (53, 55, 'STATE'),
   (57, 60, 'COUNTRY')]),
 ('C/O WINDSOR - HANSON COMPANY 391 PARK AVENUE, NEW YORK, NY 10022, United States',
  [(29, 32, 'BUILDING_NO'),
   (0, 28, 'RECIPIENT'),
   (33, 44, 'STREET_NAME'),
   (59, 64, 'ZIP_CODE'),
   (46, 54, 'CITY'),
   (56, 58, 'STATE'),
   (66, 79, 'COUNTRY')]),
 ('C/O FRANK C GOSLING, 206 IRVING CT, FRANKLIN, TN 37064 - 5072, United States',
  [(21, 24, 'BUILDING_NO'),
   (0, 19, 'RECIPIENT'),
   (25, 34, 'STREET_NAME'),
   (49, 61, 'ZIP_CODE'),
   (36, 44, 'CITY'),
   (46, 48, 'STATE'),
   (63, 76, 'COUNTRY')]),
 ('C/O ROBERT S MARINO 52 GREY ST, LYNN, , MA, USA',
  [(20, 22, 'BUILDING_NO'),
   (0, 19, 'RECIPIENT'),
   (23, 30, 'STREET_NAME'),
   (32, 36, 'CITY'),
   (40, 42, 'STATE'),
   (44, 47, 'COUNTRY')]),
 ('C/O LAWSON TRUST, MEMPHIS, TN 00000, United States',
  [(0, 16, 'RECIPIENT'),
   (30, 35, 'ZIP_CODE'),
   (18, 25, 'CITY'),
   (27, 29, 'STATE'),
   (37, 50, 'COUNTRY')]),
 ('C/O KEY & PEELE 83 MAIN ST, LEOMINSTER, , MA, USA',
  [(16, 18, 'BUILDING_NO'),
   (0, 15, 'RECIPIENT'),
   (19, 26, 'STREET_NAME'),
   (28, 38, 'CITY'),
   (42, 44, 'STATE'),
   (46, 49, 'COUNTRY')]),
 ('C/O MATTHEW F HOMER 771 ELM ST, SO DARTMOUTH, , MA, USA',
  [(20, 23, 'BUILDING_NO'),
   (0, 19, 'RECIPIENT'),
   (24, 30, 'STREET_NAME'),
   (35, 44, 'CITY'),
   (48, 50, 'STATE'),
   (52, 55, 'COUNTRY')]),
 ('C/O VERNON DORMER 92 BUCKINGHAM ST, SPRINGFIELD, , MA, USA',
  [(18, 20, 'BUILDING_NO'),
   (0, 17, 'RECIPIENT'),
   (21, 34, 'STREET_NAME'),
   (36, 47, 'CITY'),
   (51, 53, 'STATE'),
   (55, 58, 'COUNTRY')]),
 ('C/O WILL F MARE 16 BAILER HILL RD, WALTHAM, , MA, USA',
  [(16, 18, 'BUILDING_NO'),
   (0, 15, 'RECIPIENT'),
   (19, 33, 'STREET_NAME'),
   (35, 42, 'CITY'),
   (46, 48, 'STATE'),
   (50, 53, 'COUNTRY')]),
 ('C/O RABO UNITED BK 172 NAWAKA ST, CHATTANOOGA, TN 37401, United States',
  [(19, 22, 'BUILDING_NO'),
   (0, 18, 'RECIPIENT'),
   (23, 32, 'STREET_NAME'),
   (50, 55, 'ZIP_CODE'),
   (34, 45, 'CITY'),
   (47, 49, 'STATE'),
   (57, 70, 'COUNTRY')]),
 ('C/O EVL CORP SYSTEM, KNOXVILLE, TN 37902, United States',
  [(0, 19, 'RECIPIENT'),
   (35, 40, 'ZIP_CODE'),
   (21, 30, 'CITY'),
   (32, 34, 'STATE'),
   (42, 55, 'COUNTRY')]),
 ('C/O E M RICHARD RTE, COLUMBIA, TN 00000, United States',
  [(0, 19, 'RECIPIENT'),
   (34, 39, 'ZIP_CODE'),
   (21, 29, 'CITY'),
   (31, 33, 'STATE'),
   (41, 54, 'COUNTRY')]),
 ('C/O One Kimberley Centre 13 JENKS AVE, FRAMINGHAM, , MA, USA',
  [(25, 27, 'BUILDING_NO'),
   (0, 24, 'RECIPIENT'),
   (28, 37, 'STREET_NAME'),
   (39, 49, 'CITY'),
   (53, 55, 'STATE'),
   (57, 60, 'COUNTRY')]),
 ('C/O JAN S MONTGOMERY, LEXINGTON, TN 38351, United States',
  [(0, 20, 'RECIPIENT'),
   (36, 41, 'ZIP_CODE'),
   (22, 31, 'CITY'),
   (33, 35, 'STATE'),
   (43, 56, 'COUNTRY')]),
 ('The Turner Building, 7310 West Central Avenue, , , 43617 - 1087, US',
  [(21, 25, 'BUILDING_NO'),
   (26, 45, 'STREET_NAME'),
   (51, 63, 'ZIP_CODE'),
   (65, 67, 'COUNTRY')]),
 ('Building 12, 3525 Marchmont Rd SW Ste 500, ATLANTA, GA, 30305 - 1608, US',
  [(0, 11, 'BUILDING_NAME'),
   (13, 17, 'BUILDING_NO'),
   (18, 33, 'STREET_NAME'),
   (56, 68, 'ZIP_CODE'),
   (43, 50, 'CITY'),
   (52, 54, 'STATE'),
   (70, 72, 'COUNTRY')]),
 ('Building 8, 702 North Varina, Suite 230, , TX, 78746, US',
  [(0, 10, 'BUILDING_NAME'),
   (12, 15, 'BUILDING_NO'),
   (16, 28, 'STREET_NAME'),
   (47, 52, 'ZIP_CODE'),
   (43, 45, 'STATE'),
   (54, 56, 'COUNTRY')]),
 ('Building 631, 9 Browning Pkwy Fl 1, SAN MATEO, CA, 94403 - 1906, US',
  [(0, 12, 'BUILDING_NAME'),
   (14, 15, 'BUILDING_NO'),
   (16, 29, 'STREET_NAME'),
   (51, 63, 'ZIP_CODE'),
   (36, 45, 'CITY'),
   (47, 49, 'STATE'),
   (65, 67, 'COUNTRY')]),
 ('ROYAL MANOR FINANCIAL CENTER, 6 Tampico Way, SUITE 125A, ORINDA, CA, 94563, US',
  [(0, 28, 'BUILDING_NAME'),
   (30, 31, 'BUILDING_NO'),
   (32, 43, 'STREET_NAME'),
   (69, 74, 'ZIP_CODE'),
   (57, 63, 'CITY'),
   (65, 67, 'STATE'),
   (76, 78, 'COUNTRY')]),
 ('Asian Culture Center, 7318 N Yarmouth St, WILMINGTON, DE, 19801 - 1120, US',
  [(0, 20, 'BUILDING_NAME'),
   (22, 26, 'BUILDING_NO'),
   (27, 40, 'STREET_NAME'),
   (58, 70, 'ZIP_CODE'),
   (42, 52, 'CITY'),
   (54, 56, 'STATE'),
   (72, 74, 'COUNTRY')]),
 ('Suite 920, One World Center, 6399 Empress Drive, BETHESDA, MD, 20817, US',
  [(11, 27, 'BUILDING_NAME'),
   (29, 33, 'BUILDING_NO'),
   (34, 47, 'STREET_NAME'),
   (63, 68, 'ZIP_CODE'),
   (49, 57, 'CITY'),
   (59, 61, 'STATE'),
   (70, 72, 'COUNTRY')]),
 ('Four Saints Recreation Center, 527 Mikes St, NEW YORK, NY, 10285 - 0001, US',
  [(0, 29, 'BUILDING_NAME'),
   (31, 34, 'BUILDING_NO'),
   (35, 43, 'STREET_NAME'),
   (59, 71, 'ZIP_CODE'),
   (45, 53, 'CITY'),
   (55, 57, 'STATE'),
   (73, 75, 'COUNTRY')]),
 ('ONE WORLD CENTER, 26TH FLOOR, C/O JUAN LEONS PRIVATE EQ, INC, SAN FRANCISCO, CA, 94111, US',
  [(0, 16, 'BUILDING_NAME'),
   (30, 60, 'RECIPIENT'),
   (81, 86, 'ZIP_CODE'),
   (62, 75, 'CITY'),
   (77, 79, 'STATE'),
   (88, 90, 'COUNTRY')]),
 ('DE HEALTH Center, Research Building, 1733 Acero Highway, Wilmington, DE 19805, , , , US',
  [(18, 35, 'BUILDING_NAME'),
   (37, 41, 'BUILDING_NO'),
   (42, 55, 'STREET_NAME'),
   (72, 77, 'ZIP_CODE'),
   (57, 67, 'CITY'),
   (0, 2, 'STATE'),
   (85, 87, 'COUNTRY')]),
 ('371 BERGENFIELD CENTER, 413 HAYNES STREET, HOUSTON, TX, 77002, US',
  [(4, 22, 'BUILDING_NAME'),
   (24, 27, 'BUILDING_NO'),
   (28, 41, 'STREET_NAME'),
   (56, 61, 'ZIP_CODE'),
   (43, 50, 'CITY'),
   (52, 54, 'STATE'),
   (63, 65, 'COUNTRY')]),
 ('5125 Plymouth Blvd Ste 315, PLYMOUTH, MN, 55447 - 1551, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (42, 54, 'ZIP_CODE'),
   (28, 36, 'CITY'),
   (38, 40, 'STATE'),
   (56, 58, 'COUNTRY')]),
 ('PO Box 726, 399 N Virginia Blvd, READING, PA, 19610 - 0829, US',
  [(12, 15, 'BUILDING_NO'),
   (16, 31, 'STREET_NAME'),
   (46, 58, 'ZIP_CODE'),
   (33, 40, 'CITY'),
   (42, 44, 'STATE'),
   (60, 62, 'COUNTRY')]),
 ('SUITE 87, 3312 JEFFERSON BLVD, HOUSTON, TX, 77024, US',
  [(10, 14, 'BUILDING_NO'),
   (15, 29, 'STREET_NAME'),
   (44, 49, 'ZIP_CODE'),
   (31, 38, 'CITY'),
   (40, 42, 'STATE'),
   (51, 53, 'COUNTRY')]),
 ('3991 Prairie Moon Blvd, Suite 419, TWINSBURG, OH, 44087, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 22, 'STREET_NAME'),
   (50, 55, 'ZIP_CODE'),
   (35, 44, 'CITY'),
   (46, 48, 'STATE'),
   (57, 59, 'COUNTRY')]),
 ('13164 Aston Blvd Fl 2, DALLAS, TX, 75254 - 6786, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 16, 'STREET_NAME'),
   (35, 47, 'ZIP_CODE'),
   (23, 29, 'CITY'),
   (31, 33, 'STATE'),
   (49, 51, 'COUNTRY')]),
 ('2818 Railroad Blvd Ste 211, BOULDER, CO, 80301 - 2627, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (41, 53, 'ZIP_CODE'),
   (28, 35, 'CITY'),
   (37, 39, 'STATE'),
   (55, 57, 'COUNTRY')]),
 ('901 Shane M Connor Blvd Ste 52, TEANECK, NJ, 07666 - 6703, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 23, 'STREET_NAME'),
   (45, 57, 'ZIP_CODE'),
   (32, 39, 'CITY'),
   (41, 43, 'STATE'),
   (59, 61, 'COUNTRY')]),
 ('6428 E Sidney Blvd, SARASOTA, FL, 34243 - 2249, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (34, 46, 'ZIP_CODE'),
   (20, 28, 'CITY'),
   (30, 32, 'STATE'),
   (48, 50, 'COUNTRY')]),
 ('524 W Arbor Blvd, FORT LAUDERDALE, FL, 33394, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 16, 'STREET_NAME'),
   (39, 44, 'ZIP_CODE'),
   (18, 33, 'CITY'),
   (35, 37, 'STATE'),
   (46, 48, 'COUNTRY')]),
 ('2315 Wendover Blvd Ste 1785, IRVING, TX, 75039 - 3743, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (41, 53, 'ZIP_CODE'),
   (29, 35, 'CITY'),
   (37, 39, 'STATE'),
   (55, 57, 'COUNTRY')]),
 ('9028 Birchwood Street - 5210, HOUSTON, TX, 77002, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 21, 'STREET_NAME'),
   (43, 48, 'ZIP_CODE'),
   (30, 37, 'CITY'),
   (39, 41, 'STATE'),
   (50, 52, 'COUNTRY')]),
 ('3612 W 26Th Street, Suite 100, LEAWOOD, KS, 66211, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (44, 49, 'ZIP_CODE'),
   (31, 38, 'CITY'),
   (40, 42, 'STATE'),
   (51, 53, 'COUNTRY')]),
 ('25 ROSE STREET, STAMFORD, CT, 6901, US',
  [(0, 2, 'BUILDING_NO'),
   (3, 14, 'STREET_NAME'),
   (30, 34, 'ZIP_CODE'),
   (16, 24, 'CITY'),
   (26, 28, 'STATE'),
   (36, 38, 'COUNTRY')]),
 ('315 Spider Ridge Street, BOSTON, MA, 2109, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 23, 'STREET_NAME'),
   (37, 41, 'ZIP_CODE'),
   (25, 31, 'CITY'),
   (33, 35, 'STATE'),
   (43, 45, 'COUNTRY')]),
 ('624 Brockton St, BASTROP, TX, 78602 - 3818, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 15, 'STREET_NAME'),
   (30, 42, 'ZIP_CODE'),
   (17, 24, 'CITY'),
   (26, 28, 'STATE'),
   (44, 46, 'COUNTRY')]),
 ('572 Yellow Street, Suite 201, OYSTER BAY, NY, 11771, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 17, 'STREET_NAME'),
   (46, 51, 'ZIP_CODE'),
   (30, 40, 'CITY'),
   (42, 44, 'STATE'),
   (53, 55, 'COUNTRY')]),
 ('961 Malolo Street, NW, HANCEVILLE, AL, 35077, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 17, 'STREET_NAME'),
   (39, 44, 'ZIP_CODE'),
   (23, 33, 'CITY'),
   (35, 37, 'STATE'),
   (46, 48, 'COUNTRY')]),
 ('376 Lasso St, BRENTWOOD, CA, 94513, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 12, 'STREET_NAME'),
   (29, 34, 'ZIP_CODE'),
   (14, 23, 'CITY'),
   (25, 27, 'STATE'),
   (36, 38, 'COUNTRY')]),
 ('311 N 34th St, SIOUX FALLS, SD, 57108 - 8148, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 13, 'STREET_NAME'),
   (32, 44, 'ZIP_CODE'),
   (15, 26, 'CITY'),
   (28, 30, 'STATE'),
   (46, 48, 'COUNTRY')]),
 ('675 SE Juan Pedro St, PORTLAND, OR, 97212 - 3948, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (36, 48, 'ZIP_CODE'),
   (22, 30, 'CITY'),
   (32, 34, 'STATE'),
   (50, 52, 'COUNTRY')]),
 ('423 NE 5th St, POMPANO BEACH, FL, 33062 - 6746, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 13, 'STREET_NAME'),
   (34, 46, 'ZIP_CODE'),
   (15, 28, 'CITY'),
   (30, 32, 'STATE'),
   (48, 50, 'COUNTRY')]),
 ('6252 Sunset St, BEAUMONT, TX, 77707 - 3514, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 14, 'STREET_NAME'),
   (30, 42, 'ZIP_CODE'),
   (16, 24, 'CITY'),
   (26, 28, 'STATE'),
   (44, 46, 'COUNTRY')]),
 ('14Th Floor, 21 West 5th St, , , 10010, US',
  [(12, 14, 'BUILDING_NO'),
   (15, 26, 'STREET_NAME'),
   (32, 37, 'ZIP_CODE'),
   (39, 41, 'COUNTRY')]),
 ('763 Clark St, BRAINERD, MN, 56401 - 3585, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 12, 'STREET_NAME'),
   (28, 40, 'ZIP_CODE'),
   (14, 22, 'CITY'),
   (24, 26, 'STATE'),
   (42, 44, 'COUNTRY')]),
 ('146 Lakeview St, BOSTON, MA, 02199 - 3600, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 15, 'STREET_NAME'),
   (29, 41, 'ZIP_CODE'),
   (17, 23, 'CITY'),
   (25, 27, 'STATE'),
   (43, 45, 'COUNTRY')]),
 ('383 Walker St, DENVER, CO, 80206 - 4549, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 13, 'STREET_NAME'),
   (27, 39, 'ZIP_CODE'),
   (15, 21, 'CITY'),
   (23, 25, 'STATE'),
   (41, 43, 'COUNTRY')]),
 ('53 C Nn Hwy S Fl 4, DARIEN, CT, 06820 - 4505, US',
  [(0, 2, 'BUILDING_NO'),
   (3, 13, 'STREET_NAME'),
   (32, 44, 'ZIP_CODE'),
   (20, 26, 'CITY'),
   (28, 30, 'STATE'),
   (46, 48, 'COUNTRY')]),
 ('492 Northwestern Hwy, Ste 488, FARMINGTON HILLS, MI, 48334, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (53, 58, 'ZIP_CODE'),
   (31, 47, 'CITY'),
   (49, 51, 'STATE'),
   (60, 62, 'COUNTRY')]),
 ('4553 N Capital of Texas Hwy Ste 926, AUSTIN, TX, 78746 - 6544, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 27, 'STREET_NAME'),
   (49, 61, 'ZIP_CODE'),
   (37, 43, 'CITY'),
   (45, 47, 'STATE'),
   (63, 65, 'COUNTRY')]),
 ('14130 Devon Hwy, SANTA FE SPRINGS, CA, 90670 - 4836, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 15, 'STREET_NAME'),
   (39, 51, 'ZIP_CODE'),
   (17, 33, 'CITY'),
   (35, 37, 'STATE'),
   (53, 55, 'COUNTRY')]),
 ('506 S Murdock Hwy # 301, DEERFIELD BEACH, FL, 33441 - 4161, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 17, 'STREET_NAME'),
   (46, 58, 'ZIP_CODE'),
   (25, 40, 'CITY'),
   (42, 44, 'STATE'),
   (60, 62, 'COUNTRY')]),
 ('1719 W Federal Hwy Ste 633, BOCA RATON, FL, 33432 - 2744, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (44, 56, 'ZIP_CODE'),
   (28, 38, 'CITY'),
   (40, 42, 'STATE'),
   (58, 60, 'COUNTRY')]),
 ('31102 N Capital of Texas Hwy Ste 3104, WEST LAKE HILLS, TX, 78746 - 6502, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 28, 'STREET_NAME'),
   (60, 72, 'ZIP_CODE'),
   (39, 54, 'CITY'),
   (56, 58, 'STATE'),
   (74, 76, 'COUNTRY')]),
 ('#12, 72 WJohnston Hwy, ST AUGUSTINE, FL, 32084, US',
  [(5, 7, 'BUILDING_NO'),
   (8, 21, 'STREET_NAME'),
   (41, 46, 'ZIP_CODE'),
   (23, 35, 'CITY'),
   (37, 39, 'STATE'),
   (48, 50, 'COUNTRY')]),
 ('3262 SW Tucker Way # C453, PORTLAND, OR, 97230 - 1108, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 18, 'STREET_NAME'),
   (41, 53, 'ZIP_CODE'),
   (27, 35, 'CITY'),
   (37, 39, 'STATE'),
   (55, 57, 'COUNTRY')]),
 ('7284 VOLLMER PARKWAY, SUITE 64, FOOTHILL RANCH, CA, 92610, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 20, 'STREET_NAME'),
   (52, 57, 'ZIP_CODE'),
   (32, 46, 'CITY'),
   (48, 50, 'STATE'),
   (59, 61, 'COUNTRY')]),
 ('913 Old Evadale Way, BELMONT, CA, 94002, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 19, 'STREET_NAME'),
   (34, 39, 'ZIP_CODE'),
   (21, 28, 'CITY'),
   (30, 32, 'STATE'),
   (41, 43, 'COUNTRY')]),
 ('6337 NEW FORREST WAY, FREDERICK, MD, 21703, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 20, 'STREET_NAME'),
   (37, 42, 'ZIP_CODE'),
   (22, 31, 'CITY'),
   (33, 35, 'STATE'),
   (44, 46, 'COUNTRY')]),
 ('7385 Hartman Way, VISTA, CA, 92081, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 16, 'STREET_NAME'),
   (29, 34, 'ZIP_CODE'),
   (18, 23, 'CITY'),
   (25, 27, 'STATE'),
   (36, 38, 'COUNTRY')]),
 ('52275 Woodson Way, Ste 624, SUN VALLEY, CA, 91352, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 17, 'STREET_NAME'),
   (44, 49, 'ZIP_CODE'),
   (28, 38, 'CITY'),
   (40, 42, 'STATE'),
   (51, 53, 'COUNTRY')]),
 ('388 BROADWAY 1ST FL, NEW YORK, NY, 10038, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 12, 'STREET_NAME'),
   (35, 40, 'ZIP_CODE'),
   (21, 29, 'CITY'),
   (31, 33, 'STATE'),
   (42, 44, 'COUNTRY')]),
 ('668 W Heaton Parkway Unit #H148, OREM, UT, 84097, US',
  [(0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (43, 48, 'ZIP_CODE'),
   (33, 37, 'CITY'),
   (39, 41, 'STATE'),
   (50, 52, 'COUNTRY')]),
 ('21664 Saint Peters Road, Suite, SOLON, OH, 44139, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 23, 'STREET_NAME'),
   (43, 48, 'ZIP_CODE'),
   (32, 37, 'CITY'),
   (39, 41, 'STATE'),
   (50, 52, 'COUNTRY')]),
 ('48817 Hallman Road, Geauga County, CHAGRIN FALLS, OH, 44023, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 18, 'STREET_NAME'),
   (54, 59, 'ZIP_CODE'),
   (35, 48, 'CITY'),
   (50, 52, 'STATE'),
   (61, 63, 'COUNTRY')]),
 ('18232 Somerville Road, CORAL SPRINGS, FL, 33076, US',
  [(0, 5, 'BUILDING_NO'),
   (6, 21, 'STREET_NAME'),
   (42, 47, 'ZIP_CODE'),
   (23, 36, 'CITY'),
   (38, 40, 'STATE'),
   (49, 51, 'COUNTRY')]),
 ('2811 Brevard Road, DOWNERS GROVE, IL, 60515, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 17, 'STREET_NAME'),
   (38, 43, 'ZIP_CODE'),
   (19, 32, 'CITY'),
   (34, 36, 'STATE'),
   (45, 47, 'COUNTRY')]),
 ('4750 Lonnie Road, Suite 542, HOUSTON, TX, 77057, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 16, 'STREET_NAME'),
   (42, 47, 'ZIP_CODE'),
   (29, 36, 'CITY'),
   (38, 40, 'STATE'),
   (49, 51, 'COUNTRY')]),
 ('2213 Carter Road, Suite 260, SANTA CLARA, CA, 95051, US',
  [(0, 4, 'BUILDING_NO'),
   (5, 16, 'STREET_NAME'),
   (46, 51, 'ZIP_CODE'),
   (29, 40, 'CITY'),
   (42, 44, 'STATE'),
   (53, 55, 'COUNTRY')]),

In [17]:
doc_bin_train= get_doc_bin(training_data,nlp)
list(doc_bin_train.get_docs(nlp.vocab))

[19 ST ANDREW ST, BULRINGTON, VT, 05401, , United States,
 2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, United States,
 5931 W ANGELA RD, MEMPHIS, TN 38120, United States,
 3812 MYERS STREET, GREENEVILLE, TN 37743, United States,
 HWY 33 BY - PASS BOX, DYERSBURG, TN 38024, United States,
 423 TRENT STATE STRE, DOVER, DE 19001, United States,
 269 ABBOTT MT ROAD, CHATTANOOGA, TN 37405, United States,
 HIGHWAY 11 - E, RUSSELLVILLE, TN 00000, United States,
 8725 HWY 62 N, MILLINGTON, TN 38053, United States,
 6081 SUMMER AVENUE, MEMPHIS, TN 38134, United States,
 STE 363 8 REGENCY SQ, KNOXVILLE, TN 37915, United States,
 NAT TRUST CENTER 1612 REDWOOD STREET, WILMINGTON, DE 19801, United States,
 PO BOX 631, GIDDINGS, TX 78942, United States,
 9281 S MAIN ST PO BOX 284, SPRINGFIELD, TN 37172, United States,
 PO BOX 3028 OMOHUN, NASHVILLE, TN 37210, United States,
 375 MCDONNELL BLVD - PO BOX 5840, ST LOUIS, MO 63134, United States,
 PO BOX 724, TRUSSVILLE, AL 35173, United States,
 PO BOX 903, BALDWIN, GA, 30511 - 0484, , United States,
 PO BOX 337, NORTONVILLE, KS 660600452, United States,
 FRANK RD PO BOX 24, SO POMFRET, VT, 05067, , United States,
 221 JIM SULLIVAN BLVD PO BOX 1482, SALISBURY, NC 28145 - 1127, United States,
 PO BOX 363, HEBRONVILLE, TX 78361, United States,
 178 W RIDGE AVE PO BOX 344, CELINA, TN 38551, United States,
 PO BOX 8231, MOULTRIE, GA, 31776 - 1601, , United States,
 C/O MELISSA CARDIFF 730 WINSTON ST, CHESTNUT HILL, , MA, USA,
 C/O WINDSOR - HANSON COMPANY 391 PARK AVENUE, NEW YORK, NY 10022, United States,
 C/O FRANK C GOSLING, 206 IRVING CT, FRANKLIN, TN 37064 - 5072, United States,
 C/O ROBERT S MARINO 52 GREY ST, LYNN, , MA, USA,
 C/O LAWSON TRUST, MEMPHIS, TN 00000, United States,
 C/O KEY & PEELE 83 MAIN ST, LEOMINSTER, , MA, USA,
 C/O MATTHEW F HOMER 771 ELM ST, SO DARTMOUTH, , MA, USA,
 C/O VERNON DORMER 92 BUCKINGHAM ST, SPRINGFIELD, , MA, USA,
 C/O WILL F MARE 16 BAILER HILL RD, WALTHAM, , MA, USA,
 C/O RABO UNITED BK 172 NAWAKA ST, CHATTANOOGA, TN 37401, United States,
 C/O EVL CORP SYSTEM, KNOXVILLE, TN 37902, United States,
 C/O E M RICHARD RTE, COLUMBIA, TN 00000, United States,
 C/O One Kimberley Centre 13 JENKS AVE, FRAMINGHAM, , MA, USA,
 C/O JAN S MONTGOMERY, LEXINGTON, TN 38351, United States,
 The Turner Building, 7310 West Central Avenue, , , 43617 - 1087, US,
 Building 12, 3525 Marchmont Rd SW Ste 500, ATLANTA, GA, 30305 - 1608, US,
 Building 8, 702 North Varina, Suite 230, , TX, 78746, US,
 Building 631, 9 Browning Pkwy Fl 1, SAN MATEO, CA, 94403 - 1906, US,
 ROYAL MANOR FINANCIAL CENTER, 6 Tampico Way, SUITE 125A, ORINDA, CA, 94563, US,
 Asian Culture Center, 7318 N Yarmouth St, WILMINGTON, DE, 19801 - 1120, US,
 Suite 920, One World Center, 6399 Empress Drive, BETHESDA, MD, 20817, US,
 Four Saints Recreation Center, 527 Mikes St, NEW YORK, NY, 10285 - 0001, US,
 ONE WORLD CENTER, 26TH FLOOR, C/O JUAN LEONS PRIVATE EQ, INC, SAN FRANCISCO, CA, 94111, US,
 DE HEALTH Center, Research Building, 1733 Acero Highway, Wilmington, DE 19805, , , , US,
 371 BERGENFIELD CENTER, 413 HAYNES STREET, HOUSTON, TX, 77002, US,
 5125 Plymouth Blvd Ste 315, PLYMOUTH, MN, 55447 - 1551, US,
 PO Box 726, 399 N Virginia Blvd, READING, PA, 19610 - 0829, US,
 SUITE 87, 3312 JEFFERSON BLVD, HOUSTON, TX, 77024, US,
 3991 Prairie Moon Blvd, Suite 419, TWINSBURG, OH, 44087, US,
 13164 Aston Blvd Fl 2, DALLAS, TX, 75254 - 6786, US,
 2818 Railroad Blvd Ste 211, BOULDER, CO, 80301 - 2627, US,
 901 Shane M Connor Blvd Ste 52, TEANECK, NJ, 07666 - 6703, US,
 6428 E Sidney Blvd, SARASOTA, FL, 34243 - 2249, US,
 524 W Arbor Blvd, FORT LAUDERDALE, FL, 33394, US,
 2315 Wendover Blvd Ste 1785, IRVING, TX, 75039 - 3743, US,
 9028 Birchwood Street - 5210, HOUSTON, TX, 77002, US,
 3612 W 26Th Street, Suite 100, LEAWOOD, KS, 66211, US,
 25 ROSE STREET, STAMFORD, CT, 6901, US,
 315 Spider Ridge Street, BOSTON, MA, 2109, US,
 624 Brockton St, BASTROP, TX, 78602 - 3818, US,
 572 Yellow Street, Suite 201, OYSTER BAY, NY, 11771, US,
 961 Malolo Street, NW, HANCEVILLE, AL, 35077, US,
 376 Lasso St, BRENTWOOD, CA, 94513, US,
 311 N 34th St, SIOUX FALLS, SD, 57108 - 8148, US,
 675 SE Juan Pedro St, PORTLAND, OR, 97212 - 3948, US,
 423 NE 5th St, POMPANO BEACH, FL, 33062 - 6746, US,
 6252 Sunset St, BEAUMONT, TX, 77707 - 3514, US,
 14Th Floor, 21 West 5th St, , , 10010, US,
 763 Clark St, BRAINERD, MN, 56401 - 3585, US,
 146 Lakeview St, BOSTON, MA, 02199 - 3600, US,
 383 Walker St, DENVER, CO, 80206 - 4549, US,
 53 C Nn Hwy S Fl 4, DARIEN, CT, 06820 - 4505, US,
 492 Northwestern Hwy, Ste 488, FARMINGTON HILLS, MI, 48334, US,
 4553 N Capital of Texas Hwy Ste 926, AUSTIN, TX, 78746 - 6544, US,
 14130 Devon Hwy, SANTA FE SPRINGS, CA, 90670 - 4836, US,
 506 S Murdock Hwy # 301, DEERFIELD BEACH, FL, 33441 - 4161, US,
 1719 W Federal Hwy Ste 633, BOCA RATON, FL, 33432 - 2744, US,
 31102 N Capital of Texas Hwy Ste 3104, WEST LAKE HILLS, TX, 78746 - 6502, US,
 #12, 72 WJohnston Hwy, ST AUGUSTINE, FL, 32084, US,
 3262 SW Tucker Way # C453, PORTLAND, OR, 97230 - 1108, US,
 7284 VOLLMER PARKWAY, SUITE 64, FOOTHILL RANCH, CA, 92610, US,
 913 Old Evadale Way, BELMONT, CA, 94002, US,
 6337 NEW FORREST WAY, FREDERICK, MD, 21703, US,
 7385 Hartman Way, VISTA, CA, 92081, US,
 52275 Woodson Way, Ste 624, SUN VALLEY, CA, 91352, US,
 388 BROADWAY 1ST FL, NEW YORK, NY, 10038, US,
 668 W Heaton Parkway Unit #H148, OREM, UT, 84097, US,
 21664 Saint Peters Road, Suite, SOLON, OH, 44139, US,
 48817 Hallman Road, Geauga County, CHAGRIN FALLS, OH, 44023, US,
 18232 Somerville Road, CORAL SPRINGS, FL, 33076, US,
 2811 Brevard Road, DOWNERS GROVE, IL, 60515, US,
 4750 Lonnie Road, Suite 542, HOUSTON, TX, 77057, US,
 2213 Carter Road, Suite 260, SANTA CLARA, CA, 95051, US,
 705 Coleman Road, OAK BROOK, IL, 60523, US,
 434 GRANT ROAD WEST, SUITE 140, LARGO, FL, 33773, US,
 2515 Hancock Point Ct # J, WINTER PARK, FL, 32792 - 8214, US,
 6662 Laurel View Ct Ste 142, OXNARD, CA, 93036 - 5458, US,
 1092 Redfish Ct W Ste 447, ROSWELL, GA, 30076 - 4853, US,
 5078 SW 23rd Ct Ste 255, OPA LOCKA, FL, 33054 - 2357, US,
 63 Hillcrest Ct E Ste 625, ROSWELL, GA, 30076 - 4814, US,
 969 Forestdale Dr Ste 377, SPRING, TX, 77379 - 7890, US,
 2068 W Fairground Dr Ste 500, KANSAS CITY, MO, 64163 - 1202, US,
 11401 Bent Oak Dr Ste 100, SAN DIEGO, CA, 92130 - 3342, US,
 2068 Burns Dr Ste B, LAS VEGAS, NV, 89119 - 6727, , US,
 3602 Fox Ridge Dr Suite 833, The Woodlands, , TX, 77380, US,
 59 Nickel Dr, ORCHARD PARK, NY, 14127 - 4101, US,
 41443 Lewis Dr, BAKERSFIELD, CA, 93311 - 8714, US,
 3128 New Mcneil Dr, RESTON, VA, 20191 - 3436, US,
 2502 NW 53rd St Bldg C Ste 347, BELLEVUE, WA, 98007 - 3737, US,
 Robert Koch Bldg 4223 4th Ave, DETROIT, MI, 48202 - 2798, US,
 429 Larson Bldg, PORTLAND, OR, , US,
 4520 Mount Olive Highway, Bldg 5, Ste 3321, , , 78759, US,
 202 Sleepy Hollow Pkwy Bldg 2101 Ste 201, ATHENS, GA, 30606 - 3347, US,
 Berger Bldg 6 Hamlin Ln Dept RB08, MIDDLE ISLAND, NY, 11953 - 0102, US,
 5524 Elmore Ave Bldg 266, PHILADELPHIA, PA, 19146 - 2701, US,
 1172 Hudson Way Pl Bldg 3 Ste 530, LAKE OSWEGO, OR, 97035 - 5545, US]

In [18]:
doc_bin_train.to_disk("./train.spacy")

In [19]:
df_test=pd.read_csv(filepath_or_buffer="/content/us-test-dataset.csv",sep=",",dtype=str)

In [20]:
df_entity_spans= create_entity_spans(df_test.astype(str),tag_list)
validation_data= df_entity_spans.values.tolist()

<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)
<ipython-input-3-956cfd837694>:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['EntitySpans']=df[['EntitySpans','Address']].apply(lambda x: (x[1], x[0]),axis=1)

In [21]:
validation_data

[('223 NW STATE STRE, DOVER, DE 19001, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 17, 'STREET_NAME'),
   (29, 34, 'ZIP_CODE'),
   (19, 24, 'CITY'),
   (26, 28, 'STATE'),
   (36, 49, 'COUNTRY')]),
 ('216 LIBERTY MT ROAD, CHATTANOOGA, TN 37405, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 19, 'STREET_NAME'),
   (37, 42, 'ZIP_CODE'),
   (21, 32, 'CITY'),
   (34, 36, 'STATE'),
   (44, 57, 'COUNTRY')]),
 ('HIGHWAY 11 - E, RUSSELLVILLE, TN 00000, United States',
  [(0, 14, 'STREET_NAME'),
   (33, 38, 'ZIP_CODE'),
   (16, 28, 'CITY'),
   (30, 32, 'STATE'),
   (40, 53, 'COUNTRY')]),
 ('7913 HWY 51 N, MILLINGTON, TN 38053, United States',
  [(0, 4, 'BUILDING_NO'),
   (5, 13, 'STREET_NAME'),
   (30, 35, 'ZIP_CODE'),
   (15, 25, 'CITY'),
   (27, 29, 'STATE'),
   (37, 50, 'COUNTRY')]),
 ('PO BOX 481, BALDWIN, GA, 30511 - 0484, , United States',
  [(25, 37, 'ZIP_CODE'),
   (12, 19, 'CITY'),
   (21, 23, 'STATE'),
   (41, 54, 'COUNTRY')]),
 ('PO BOX 457, NORTONVILLE, KS 660600452, United States',
  [(28, 37, 'ZIP_CODE'),
   (12, 23, 'CITY'),
   (25, 27, 'STATE'),
   (39, 52, 'COUNTRY')]),
 ('GULLY RD PO BOX 62, SO POMFRET, VT, 05067, , United States',
  [(0, 8, 'STREET_NAME'),
   (36, 41, 'ZIP_CODE'),
   (32, 34, 'STATE'),
   (45, 58, 'COUNTRY')]),
 ('721 JAMES MCSHANE BLVD PO BOX 129, SALISBURY, NC 28145 - 1127, United States',
  [(0, 3, 'BUILDING_NO'),
   (4, 22, 'STREET_NAME'),
   (49, 61, 'ZIP_CODE'),
   (35, 44, 'CITY'),
   (46, 48, 'STATE'),
   (63, 76, 'COUNTRY')]),
 ('C/O ABC CORP SYSTEM, KNOXVILLE, TN 37902, United States',
  [(0, 19, 'RECIPIENT'),
   (35, 40, 'ZIP_CODE'),
   (21, 30, 'CITY'),
   (32, 34, 'STATE'),
   (42, 55, 'COUNTRY')]),
 ('C/O J MCKEEN RTE, COLUMBIA, TN 00000, United States',
  [(0, 16, 'RECIPIENT'),
   (31, 36, 'ZIP_CODE'),
   (18, 26, 'CITY'),
   (28, 30, 'STATE'),
   (38, 51, 'COUNTRY')]),
 ('C/O One Framingham Centre 5 EDGELL AVE, FRAMINGHAM, , MA, USA',
  [(26, 27, 'BUILDING_NO'),
   (0, 25, 'RECIPIENT'),
   (28, 38, 'STREET_NAME'),
   (40, 50, 'CITY'),
   (54, 56, 'STATE'),
   (58, 61, 'COUNTRY')]),
 ('C/O PAT S SPAGHETTI, LEXINGTON, TN 38351, United States',
  [(0, 19, 'RECIPIENT'),
   (35, 40, 'ZIP_CODE'),
   (21, 30, 'CITY'),
   (32, 34, 'STATE'),
   (42, 55, 'COUNTRY')]),
 ('The Baldwin Building, 3131 West Central Avenue, , , 43617 - 1087, , US',
  [(22, 26, 'BUILDING_NO'),
   (27, 46, 'STREET_NAME'),
   (52, 64, 'ZIP_CODE'),
   (68, 70, 'COUNTRY')]),
 ('6501 W 69th St, SIOUX FALLS, SD, 57108 - 8148, , US',
  [(0, 4, 'BUILDING_NO'),
   (5, 14, 'STREET_NAME'),
   (33, 45, 'ZIP_CODE'),
   (16, 27, 'CITY'),
   (29, 31, 'STATE'),
   (49, 51, 'COUNTRY')]),
 ('212 NE San Martin St, PORTLAND, OR, 97212 - 3948, , US',
  [(0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (36, 48, 'ZIP_CODE'),
   (22, 30, 'CITY'),
   (32, 34, 'STATE'),
   (52, 54, 'COUNTRY')]),
 ('7293 SE 8th St, POMPANO BEACH, FL, 33062 - 6746, , US',
  [(0, 4, 'BUILDING_NO'),
   (5, 14, 'STREET_NAME'),
   (35, 47, 'ZIP_CODE'),
   (16, 29, 'CITY'),
   (31, 33, 'STATE'),
   (51, 53, 'COUNTRY')]),
 ('3146 Barter St, BEAUMONT, TX, 77707 - 3514, , US',
  [(0, 4, 'BUILDING_NO'),
   (5, 14, 'STREET_NAME'),
   (30, 42, 'ZIP_CODE'),
   (16, 24, 'CITY'),
   (26, 28, 'STATE'),
   (46, 48, 'COUNTRY')]),
 ('211 Henry Bldg, PORTLAND, OR, , , US',
  [(4, 14, 'BUILDING_NAME'),
   (16, 24, 'CITY'),
   (26, 28, 'STATE'),
   (34, 36, 'COUNTRY')]),
 ('881 Central Capital of Texas Highway, Bldg 56, Ste 4200, , , 78759, , US',
  [(38, 45, 'BUILDING_NAME'),
   (0, 3, 'BUILDING_NO'),
   (4, 36, 'STREET_NAME'),
   (61, 66, 'ZIP_CODE'),
   (70, 72, 'COUNTRY')]),
 ('155 Epps Bridge Pkwy Bldg 100 Ste 201, ATHENS, GA, 30606 - 3347, , US',
  [(21, 29, 'BUILDING_NAME'),
   (0, 3, 'BUILDING_NO'),
   (4, 20, 'STREET_NAME'),
   (51, 63, 'ZIP_CODE'),
   (39, 45, 'CITY'),
   (47, 49, 'STATE'),
   (67, 69, 'COUNTRY')]),
 ('Haliday Bldg 3 Golly Ln Dept RB08, MIDDLE ISLAND, NY, 11953 - 0102, , US',
  [(0, 12, 'BUILDING_NAME'),
   (13, 14, 'BUILDING_NO'),
   (15, 23, 'STREET_NAME'),
   (54, 66, 'ZIP_CODE'),
   (35, 48, 'CITY'),
   (50, 52, 'STATE'),
   (70, 72, 'COUNTRY')]),
 ('6319 Sta Point Ct # J, WINTER PARK, FL, 32792 - 8214, , US',
  [(0, 4, 'BUILDING_NO'),
   (5, 17, 'STREET_NAME'),
   (40, 52, 'ZIP_CODE'),
   (23, 34, 'CITY'),
   (36, 38, 'STATE'),
   (56, 58, 'COUNTRY')]),
 ('2376 Park View Ct Ste 240, OXNARD, CA, 93036 - 5458, , US',
  [(0, 4, 'BUILDING_NO'),
   (5, 17, 'STREET_NAME'),
   (39, 51, 'ZIP_CODE'),
   (27, 33, 'CITY'),
   (35, 37, 'STATE'),
   (55, 57, 'COUNTRY')]),
 ('105 Gretel Ct E Ste 600, ROSWELL, GA, 30076 - 4853, , US',
  [(0, 3, 'BUILDING_NO'),
   (4, 15, 'STREET_NAME'),
   (38, 50, 'ZIP_CODE'),
   (25, 32, 'CITY'),
   (34, 36, 'STATE'),
   (54, 56, 'COUNTRY')])]

In [22]:
doc_bin_test= get_doc_bin(validation_data,nlp)
doc_bin_test.to_disk("/content/test.spacy")

# train

In [ ]:
!pip install spacy-transformers  # если хочешь использовать трансформеры

In [24]:
!python -m spacy init config config.cfg --lang en --pipeline ner --optimize accuracy
!python -m spacy init config config.cfg --lang en --pipeline ner
#!python -m spacy init fill-config config\base_config.cfg config\config.cfg

⚠ To generate a more effective transformer-based config (GPU-only),
install the spacy-transformers package and re-run this command. The config
generated now does not use transformers.
ℹ Generated config template specific for your use case
- Language: en
- Pipeline: ner
- Optimize for: efficiency
- Hardware: CPU
- Transformer: None
✔ Auto-filled config with all values
✔ Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [25]:
!python -m spacy train config.cfg --output ./output --paths.train ./train.spacy --paths.dev ./test.spacy

✔ Created output directory: output
ℹ Saving to output directory: output
ℹ Using CPU

=========================== Initializing pipeline ===========================
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     66.65    6.46    4.40   12.21    0.06
 11     200        163.72   3067.98   98.11   97.01   99.24    0.98
 25     400         13.50     11.77   96.58   96.21   96.95    0.97
 42     600         10.37      6.80   98.48   97.74   99.24    0.98
 63     800          0.01      0.01   98.11   97.01   99.24    0.98
 89    1000          0.00      0.00   98.11   97.01   99.24    0.98
120    1200          0.00      0.00   98.48   97.74   99.24    0.98
158    1400        706.57    248.65   98.11   97.01   99.24    0.98
205    1600         52.76     22.48   97.73   96.99   98.47    0.98
260    1800          0.00      0.00   98.48   97.74   99.24    0.98
327    2000          0.00      0.00   98.48   97.74   99.24    0.98
410    2200          0.00      0.00   98.48   97.74   99.24    0.98
✔ Saved pipeline to output directory
output/model-last

# eval

In [32]:
import spacy

nlp = spacy.load("./output/model-best")

address_list=["130 W BOSE ST STE 100, PARK RIDGE, IL, 60068, USA",
              "8311 MCDONALD RD, HOUSTON, TX, 77053-4821, USA",
              "PO Box 317, 4100 Hwy 20 E Ste 403, NICEVILLE, FL, 32578-5037, USA",
              "C/O Elon Musk Innovations Inc, 1548 E Florida Avenue, Suite 209, TAMPA, FL, 33613, USA",
              "Seven Edgeway Plaza, C/O Mac Dermott Inc, OAKBROOK TERRACE, IL, 60181, USA"]

for address in address_list:
    doc=nlp(address)
    ent_list=[(ent.text, ent.label_) for ent in doc.ents]
    print("Address string -> "+address)
    print("Parsed address -> "+str(ent_list))
    print("******")

Address string -> 130 W BOSE ST STE 100, PARK RIDGE, IL, 60068, USA
Parsed address -> [('130', 'BUILDING_NO'), ('W BOSE ST', 'STREET_NAME'), ('PARK RIDGE', 'CITY'), ('IL', 'STATE'), ('60068', 'ZIP_CODE'), ('USA', 'COUNTRY')]
******
Address string -> 8311 MCDONALD RD, HOUSTON, TX, 77053-4821, USA
Parsed address -> [('8311', 'BUILDING_NO'), ('MCDONALD RD', 'STREET_NAME'), ('HOUSTON', 'CITY'), ('TX', 'STATE'), ('77053-4821', 'ZIP_CODE'), ('USA', 'COUNTRY')]
******
Address string -> PO Box 317, 4100 Hwy 20 E Ste 403, NICEVILLE, FL, 32578-5037, USA
Parsed address -> [('4100', 'BUILDING_NO'), ('Hwy 20 E', 'STREET_NAME'), ('NICEVILLE', 'CITY'), ('FL', 'STATE'), ('32578-5037', 'ZIP_CODE'), ('USA', 'COUNTRY')]
******
Address string -> C/O Elon Musk Innovations Inc, 1548 E Florida Avenue, Suite 209, TAMPA, FL, 33613, USA
Parsed address -> [('C/O Elon Musk Innovations Inc', 'RECIPIENT'), ('1548', 'BUILDING_NO'), ('E Florida Avenue', 'STREET_NAME'), ('TAMPA', 'CITY'), ('FL', 'STATE'), ('33613', 'ZIP_CODE'), ('USA', 'COUNTRY')]
******
Address string -> Seven Edgeway Plaza, C/O Mac Dermott Inc, OAKBROOK TERRACE, IL, 60181, USA
Parsed address -> [('Seven Edgeway Plaza', 'STREET_NAME'), ('C/O Mac Dermott Inc', 'RECIPIENT'), ('OAKBROOK TERRACE', 'CITY'), ('IL', 'STATE'), ('60181', 'ZIP_CODE'), ('USA', 'COUNTRY')]
******